/*      General      */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }


html {
    font-size: 20px;
}

body {
    background: #000;
    color: #00FF00;
    margin: 0;
}

.white {
    color: #fff;
}

/*      typefaces      */

@font-face {
    font-family: 'TextThin';
    src: url('/fonts/TariselText-260518Thin.woff2') format('woff2');
    font-weight: 0;
    font-style: normal;
    font-feature-settings: 'calt';
}

@font-face {
    font-family: 'TextLight';
    src: url('/fonts/TariselText-260518Light.woff2') format('woff2');
    font-weight: 0;
    font-style: normal;
    font-feature-settings: 'calt';
}

@font-face {
    font-family: 'TextRegular';
    src: url('/fonts/TariselText-260518Regular.woff2') format('woff2');
    font-weight: 0;
    font-style: normal;
    font-feature-settings: 'calt';
}

@font-face {
    font-family: 'TextMedium';
    src: url('/fonts/TariselText-260518Medium.woff2') format('opentype');
    font-weight: 0;
    font-style: normal;
    font-feature-settings: 'calt';
}

@font-face {
    font-family: 'HybridRegular';
    src: url('/fonts/TariselHybrid-24121786.otf') format('opentype');
    font-weight: 0;
    font-style: normal;
    font-feature-settings: 'calt';
}

@font-face {
    font-family: 'Tarisel';
    src: url('/fonts/TariselVariable.woff2') format('woff2');
}

@font-face {
    font-family: 'TariselLight';
    src: url('/fonts/Tarisel-Light.woff2') format('woff2');
    font-weight: 0;
}

@font-face {
    font-family: 'TariselRegular';
    src: url('/fonts/Tarisel-Regular.woff2') format('woff2');
    font-weight: 0;
    font-style: none;
}

@font-face {
    font-family: 'TariselMedium';
    src: url('/fonts/Tarisel-Medium.woff2') format('woff2');
    font-weight: 0;
    font-style: none;
}

@font-face {
    font-family: 'TariselBold';
    src: url('/fonts/Tarisel-Bold.woff2') format('woff2');
    font-weight: 0;
    font-style: none;
}

@font-face {
    font-family: 'TariselBlack';
    src: url('/fonts/Tarisel-Black.woff2') format('woff2');
    font-weight: 0;
    font-style: none;
}

@font-face {
    font-family: 'Fustinberg';
    src: url('/fonts/Fustinberg_Quadrata.woff2') format('woff2');
/*    font-weight: normal;*/
    font-weight: 0;
    font-style: normal;
}

@font-face {
    font-family: 'Gnarthex';
    src: url('/fonts/Gnarthex_v1-0.woff2') format('woff2');
/*    font-weight: normal;*/
    font-weight: 0;
    font-style: normal;
}

@font-face {
    font-family: 'Psalicorne';
    src: url('/fonts/Psalicorne_v1-0.woff2') format('woff2');
/*    font-weight: normal;*/
    font-weight: 0;
    font-style: normal;
}

/*      typography      */

a {
	font-family: TextRegular, serif;
    text-decoration: none;
    color: #00FF00;
    font-size: 20px;    
    line-height: 28px;
    margin: 0 0 0 0;
    width: max-content;
}

a:hover {
/*    color: #ffd400;*/
    color: #FFF;
    cursor: pointer;
/*    animation: blinker .1s step-end; */
}


@keyframes blinker {
    0% {
        opacity: 0;
    }
}


a:active {
    color: #000;
}

h1 {
	font-family: HybridRegular, serif;
    font-size: 50px;
    line-height: 50px;
    font-weight: 100;
    letter-spacing: -.04vw;
    margin: 0 0 40px 0;
    text-justify: center;
}

h2 {
    font-family: TariselBlack, serif;
    line-height: 1;
    font-weight: 0;
    margin: 0 0 0 0;
}

h3 {
	font-family: TariselBlack, serif;
    font-size: 54px;
    line-height: 1.25;
    font-weight: 0;
    margin: 0;
    text-align: justify;
    text-justify: auto;
    text-align-last: center;
}

h4 {
	font-family: HybridRegular, serif;
    font-size: 34px;
    line-height: 40px;
    font-weight: 0;
    text-align: center;
    margin: 0 0 0 0;
    max-width: 640px;

}


p1 {
    font-family: TariselBold, serif;
    line-height: 1;
    font-weight: 0;
    margin: 0 0 0 0;
}

p {
	font-family: TextRegular, serif;
    font-size: 20px;    
    line-height: 1.4;
    font-weight: 0;
    margin: 0;
    max-width: 640px;
    text-align: left;
}

b {
	font-family: TextMedium, serif;
    font-weight: 0;
}

.nowrap {
    white-space: nowrap;
}


/*      buttons      */

.button-shell {
    position: relative;
    display: flex;
    margin: 40px 0 40px;
}

button, .b2, .b3 {
    position: relative;
    border: 2px solid;
    border-color: #00FF00;
    line-height: 3;
    padding: 0px 30px 4px;
	font-family: TextRegular, serif;
    font-size: 20px;
    text-align: center;
    color: #00FF00;
    border-radius: 100px;
    background-color: #000;
}

/*
button:hover{
    color: #FFF;
    border-color: #FFF;
    cursor: pointer;
    opacity: 0;
}

button:active {
    color: #000;
    background-color: #000;
    border-color: #000;
}
*/

.b2, .b3 {
    position: absolute;
    transform: translate(4px, 6px);
    z-index: -1;
    display: flex;
    align-items: center;
    height: 68px;
}

.b3 {
    transform: translate(8px, 12px);
    z-index: -2;
}

button:hover{
    color: #FFF;
    border-color: #FFF;
    cursor: pointer;
}

.button:active {
    opacity: 0;
}


/*      stylistic sets      */

.ss01 {
  font-feature-settings: 'ss01' 1;
}

.ss02 {
  font-feature-settings: 'ss02' 1;
}

.ss03 {
  font-feature-settings: 'ss03' 1;
}

.ss04 {
  font-feature-settings: 'ss04' 1;
}

.ss05 {
  font-feature-settings: 'ss05' 1;
}

.ss06 {
  font-feature-settings: 'ss06' 1;
}

.ss07 {
  font-feature-settings: 'ss07' 1;
}

.ss08 {
  font-feature-settings: 'ss08' 1;
}

.dlig {
  font-feature-settings: 'dlig' 1;    
}

.calt {
  font-feature-settings: 'calt' 1;    
}

.rlig {
  font-feature-settings: 'rlig' 1;    
}

.UC {
    text-transform: uppercase;
}



/*      index      */

.indexTarisel {
    font-family: TariselBold;
    font-size: 12vw;
    line-height: 100%;
}

.indexTarisel:hover {
    font-feature-settings: "ss03" 1, "ss04" 1, "ss01" 1;
}

.indexFusti {
    font-family: Fustinberg;
    font-size: 14vw;
    line-height: 115%;
}

.indexFusti:hover {
  font-feature-settings:         "ss01" 1;
}

.indexGnar {
    position: relative;
    left: -2vw;
    font-family: Gnarthex;
    font-size: 14vw;
    line-height: 100%;
    width: 104%;
}

.indexGnar:hover {
  font-feature-settings:         "ss01" 1;
}

.indexPsali {
    font-family: Psalicorne;
    font-size: 14vw;
    line-height: 110%;
    margin: 0 8px;
}

.indexPsali:hover{
  font-feature-settings:         "ss01" 1;
}


/*      index mobile      */

@media (max-width: 800px){
    
    .indexTarisel {
        font-size: 13.75vw;

    }

    .indexTarisel:hover{
        font-feature-settings: "ss03" 0, "ss04" 0, "ss01" 0;
    }

    .indexFusti {
        font-size: 19.25vw;
    }
    
    
    .indexFusti:hover{
      font-feature-settings:         "ss01" 0;
    }
    
    .indexGnar {
        font-size: 21vw;
        left: -1.6vw;
    }
    
    .indexGnar:hover {
      font-feature-settings:         "ss01" 0;
    }
    
    .indexPsali {
        font-size: 19.5vw;
        position: relative;

    }

    .indexPsali:hover {
      font-feature-settings:         "ss01" 0;
    }
    
    .indexTari, .indexFusti, .indexGnar, .indexPsali {
        line-height: 80%;
    }
}

/*      header      */

/*
.header {
    display: flex;
    justify-content: center;
}  

.navbar {
    position: relative;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
*/


/*      flex      */

.grid {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vw 4vw 0;
}

/*
@media (min-width: 1000px) {
    .grid, .footer{
        padding: 50px; 
    }
}
*/

.flex {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: none;
    padding: none;
}

.flex-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
}


/*      input      */

textarea {
    resize: none;
    field-sizing: content;
    overflow: hidden;
    font: inherit;
    appearance: none;
    box-sizing: border-box;
    margin: none;
    padding: none;
    border: none;
    border-radius: 0;
    width: 100%;
    font-size: 100px;
    background-color: black;
    color: #00FF00;
    caret-color: #fff;
    caret-shape: block;
    overflow-clip-margin: 40px;
    min-height: auto;
    max-width: none;
    min-width: none;
}

textarea:focus {
    outline: none;
}

.tarisel {
    font-family: Tarisel, textRegular, serif;
}

.tariselLight {
    font-family: TariselLight,
textThin, serif;
    line-height: 120%;
}

.tariselRegular {
    font-family: TariselRegular,
textLight, serif;
    line-height: 120%;
}

.tariselMedium {
    font-family: TariselMedium,
textLight, serif;
    line-height: 120%;
}

.tariselBold {
    font-family: TariselBold,
textRegular, serif;
    line-height: 120%;
}

.tariselBlack {
    font-family: TariselBlack,
textMedium, serif;
    line-height: 120%;
}

.fustinberg {
    font-family: Fustinberg, textRegular, serif;
    line-height: 120%;
}

.gnarthex {
    font-family: Gnarthex, textRegular, serif;
    line-height: 120%;
}

.psalicorne {
    font-family: Psalicorne, textRegular, serif;
    line-height: 100%;
    font-size: 180px;
}

.bigboy {
    font-size: 140px;
}


/*      input mobile      */

@media (max-width: 500px){
    textarea{
        font-size: 10vw;
    }
    
    .bigboy{
        font-size: 11.25vw;
    }

    .psalicorne {
        font-size: 18vw;
    }
    
}


/*      Mr. T      */

.T-bone {
    font-feature-settings: normal;
}

.bigT1 {
    position: relative;
    transform: rotate(-2deg);
    z-index: 2;
    font-family: TariselBold;
    font-size: 60vw;
}

.bigT2 {
    position: absolute;
    transform: rotate(4deg);
    font-family: TariselBold;
    font-feature-settings: "ss02";
    font-size: 60vw;
    color: #fff;
    animation: Tswap 2.5s infinite;
}

@keyframes Tswap {
  0% {
    z-index: 1;
  }
  50% {
    z-index: 1;
  }
  75% {
    z-index: 3;
  }
  100% {
    z-index: 3;
  }
}

.tdc {
    width: 20vw;
    position: absolute;
    top: 3vw;
    right: 10vw;
    z-index: 6;
	animation: float3 6s ease-in-out infinite;
}

@keyframes float3 {
	0% {
		transform: translate(.2vw, -1vw) rotate(8deg);
	}
	50% {
		transform: translate(-.1vw, 1vw) rotate(15deg);
	}
	100% {
		transform: translate(.2vw, -1vw) rotate(8deg);
	}
}

.gus {
    width: 20vw;
    position: absolute;
    top: 21vw;
    right: 12vw;
    z-index: 5;
    transform: rotate(-5deg);
	animation: float4 7s ease-in-out infinite;
}

@keyframes float4 {
	0% {
		transform: translate(-.1vw, -1vw) rotate(7deg);
	}
	50% {
		transform: translate(.2vw, 1vw) rotate(3deg);
	}
	100% {
		transform: translate(-.1vw, -1vw) rotate(7deg);
	}
}


/*      T-bone mobile      */

@media (max-width: 750px){
    .bigT1 {
        font-size: 80vw;
    }

    .bigT2 {
        font-size: 80vw;
    }

    .tdc {
        width: 40vw;
        top: 32vw;
        right: 30vw;
    }

    .gus {
        width: 40vw;
        top: 21vw;
        right: 12vw;
    }
    
    
}


/*      footer      */

footer {
    display: flex;
    flex-direction: column;
/*    align-items: flex-end;*/
    padding: 40px 4vw 4vw 4vw;
    margin-top: 40px;
    border-top: 2px solid #00FF00;
}


/*  spacing and margins  */

.margin-bottom {
    margin-bottom: 40px;
}

.margin-top {
    margin-top: 40px;
}

.space-before {
    margin-top: 20px;
}

.space-after {
    margin-bottom: 20px;
}

.button-box {
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 40px;
}

.button2 {
    margin-left: 40px;
}

@media (max-width: 500px){
    .button-box {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
    
    button, .b2, .b3 {
        left: -4px;
    }
    
    .button2 {
        margin-left: 0;
        margin-top: 20px;
    }
    
    .footer {
        margin-top: 20px;
    }
}

.column {
    max-width: 640px;
}


/*  kerning pairs  */

.y_p {
    letter-spacing: -2px;
}

.g_o_b {
    letter-spacing: -1.1px;
}







