@font-face {
    font-family: 'Tarisel Lombardic_Black';
    src:  url('/Users/martin/Documents/1 Type Goblin/20 Site/typegoblin/fonts/Web/TariselLombardic-Black_otf.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Tarisel Lombardic_Black';
    src:  url('/Users/martin/Documents/1 Type Goblin/20 Site/typegoblin/fonts/Web/TariselLombardic-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Tarisel Lombardic_Black';
    src:  url('/Users/martin/Documents/1 Type Goblin/20 Site/typegoblin/fonts/Web/TariselLombardic-Black_ttf.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
